body{
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    /* background: linear-gradient(45deg, 
        rgba(255,255,255, 1) 0%, 
        rgb(248, 250, 227) 20%, 
        rgb(246, 248, 201) 100%); */

    background: linear-gradient(45deg, 
        rgb(0, 0, 0) 0%, 
        rgb(0, 20, 25) 20%, 
        rgb(4, 22, 50) 100%);
    }

.title-text{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#introduction-text{
    padding: 30px;
    text-align: justify;
}


#application{
    padding: 30px;
    position: relative;
    display: block;
}

#wizard-container{
    width: 30%;
    height: 300px;
}

#wizard{
    float: left;
    width: auto;
    height: inherit;
}

#quiz-board-text{
    display: block;
    height: 300px;
    background-color: rgba(248, 247, 238, 0.4);
    color: beige;
    border-radius: 15px;
}

#quiz-labels, #message{
    position: relative;
    top: 50%;
    display: block;
    transform: translate(0,-50px);
    /* background-color: #7d1a1a;
    color: gold; */
    font-family:'Courier New', Courier, monospace;

}

#quiz-labels {
    color: whitesmoke;
}

#message{
    text-align: center;
    /* background-color: rgb(46, 174, 121); */
}

#answer-infinitive{
    font-weight: bold;
}

#answer-past-simple{
    font-weight: bold;
}

#answer-past-participle{
    font-weight: bold;
}


#final-buttons{
    display: block;
}

/* 
.btn-yellow {
    background-color: rgb(102, 101, 19); 
    color: black;
    border-radius: 5px;
}

.btn-yellow:hover {
    background-color: rgb(251, 251, 34); 
    color: darkgrey;
} */

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    margin: 5px;
    padding: 5px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#quiz-log-table {
    display: none;
}

th {
    color: #777700;
    font-weight: bold;
}

.timer {
    color: gold;
    margin: 5px;
}

.correctAnswer {
    color:lightgreen;
}

.incorrectAnswer {
    color:red;
}